<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Batas autoshop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img class="main-logo" src="/assets/icon/logo.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Моментальный магазин батареек</ion-card-subtitle>
        <ion-card-title>Batas autoshop</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum non, quidem dolorum sequi eius quo nesciunt fuga eos doloremque. Earum repellat deleniti odio? Unde id, dolorum dignissimos assumenda vero hic.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Навигация</ion-label>
      </ion-list-header>
      <ion-item [routerLink]="'/list'">
        <ion-icon slot="start" color="medium" name="list"></ion-icon>
        <ion-label>Каталог</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/map'">
        <ion-icon slot="start" color="medium" name="map"></ion-icon>
        <ion-label>Карта</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/home'">
        <ion-icon slot="start" color="medium" name="home"></ion-icon>
        <ion-label>О магазине</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
