<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Каталог
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label slot="start">
        Позиции:
      </ion-label>
      <ion-button slot="end" [routerLink]="'/map'" fill="outline" color="primary">Позиции на карте <ion-icon name="md-arrow-forward" slot="end"></ion-icon></ion-button>
    </ion-item>
    <ion-item *ngFor="let item of pubItems" (click)="openModal(item)">
      <ion-icon name="battery-full" slot="start"></ion-icon>
        Стандарт: {{item.product}}
      <div class="item-note" slot="end">
        {{item.price}} {{item.currency}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
