<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>map</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button color="secondary">
    <ion-icon name="arrow-dropright">
    </ion-icon>
  </ion-fab-button>
  <ion-fab-list side="end">
    <ion-fab-button>
      <ion-menu-button></ion-menu-button>
    </ion-fab-button>
    <ion-fab-button [routerLink]="'/home'">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<ion-content >
  <div id="map_canvas">
  </div>
  

</ion-content>
